# OpenAI
OPENAI_API_KEY=your-anthropic-api-key
# Anthropic
ANTHROPIC_API_KEY=your-anthropic-api-key
# Azure OpenAI
AZURE_OPENAI_API_KEY=your-azure-openai-api-key
AZURE_OPENAI_ENDPOINT=your-azure-openai-endpoint
# Google
GOOGLE_API_KEY=your-google-api-key

# Logging Configuration
LOG_LEVEL=INFO
LOG_FORMAT=json

# Langsmith Observability
LANGCHAIN_API_KEY=your-anthropic-api-key
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT="SharePoint Discovery Agent"
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
